<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->

   <title></title>
   <meta name="keywords" content="Vehiclr rentcar,rentmoterbike ">
   <meta name="description" content="Hello! thise is the best vehicle in the world">
   <meta name="author" content="madhu mahato">

   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/s.css' %}">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">

   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
   <!--header section start -->

   <nav class="navbar navbar-expand-lg new_navbar bg-transparent" data-bs-theme="dark">
      <div class="container-fluid nav-container">
         <a class="navbar-brand brand-logo" href=""><b>V</b>ehicle</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item ">
                  <a class="nav-link" href="{% url 'index' %}">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">contact Us</a>
               </li>
            </ul>

            <div class="icon_ho">

               <a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a>
               <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
               <a href="#" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
               <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>

            <a href=""><button class="custom-btn btn-1">LOGIN</button></a>

            <!-- <form class="d-flex" role="search">
               <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success" type="submit">Search</button>
             </form> -->
         </div>
      </div>
   </nav>
<center>
   {% if messages %}
   {% for message in messges %}
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Hello customer</strong> {{messages}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
   </div>
   {% endfor %}
   {% endif %}
   <div class="col-md-12 padding_0">
    <div class="form-container form-container-1" data-aos="fade-up" data-aos-duration="1000">
       <form method="POST" action="/login_form/">
         {% csrf_token %}
          <h1 style="color: white; font-size: 50px; border-bottom: 3px solid #f76d37;" class="text-center"><b>login form</b></h1>
          <p class="message"> <b style="color: aliceblue;">login now and get full access to our app.</b></p>

          <div class="form-container">
             <div class="form">
                <input required="" placeholder="username" type="text" class="input" name="username">
                <input required="" placeholder="password" type="password" class="input" name="password">
                <div class="button-container">
                   <input type="submit" value="login" class="send-button">
                   <p class="singin">if not Register?<a href="{% url 'logout_form' %}">logout</a> </p>

                </div>
             </div>
          </div>
       </form>
    </div>
</center>
   <!-- footer section start -->
   <div class="footer_section layout_padding" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
       <div class="row">
          <div class="col-lg-3 col-sm-6">
             <h3 class="useful_text">About</h3>
             <p class="footer_text">We at <b style="font: bold;">vehicle</b> he first gas-powered motorcycle was invented by Gottlieb Daimler of Germany in 1885.
                The motorcycle was built from a wooden frame with a gas engine attached to itEver since the first 
                motorcycle was introduced towards the tail-end of the 1800s, bikes have slowly but steadily progressed and 
                evolved .
             </p>
          </div>
          <div class="col-lg-3 col-sm-6">
             <h3 class="useful_text"><b style="color: #f76d37;">V</b>ehicle</h3>
             <div class="footer_menu">
                <ul>
                   <li><a href="{% url 'index' %}">Home</a></li>
                   <li><a href="{% url 'login_form' %}">log_in</a></li>
                   <li><a href="{% url 'logout_form' %}">log_out </a></li>
                   <li><a href="{% url 'singup_form' %}">singin</a></li>
                   <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
             </div>
          </div>
          <div class="col-lg-3 col-sm-6">
             <h3 class="useful_text">Legals</h3>
             <div class="footer_menu">
                <ul>
                   <li><a href="#">Terms and conditions</a></li>
                   <li><a href="#">Privacy</a></li>
                   <li><a href="#">Policy</a></li>
                   <li><a href="#">Support</a></li>
                </ul>
             </div>
          </div>

          <div class="col-lg-3 col-sm-6">
             <h1 class="useful_text">Contact Us</h1>
             <div class="location_text">
                <ul>
                   <li>
                      <a href="">
                         <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_10">Address :
                            bhaisepati lalitpur-25</span>
                      </a>
                   </li>
                   <li>
                      <a href="tel:+9779810124604">
                         <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">Call :
                            +9779810124604</span>
                      </a>
                   </li>
                   <li>
                      <a href="mailto:mahatomadhu2002@gmail.com">
                         <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">Email :
                            mahatomadhu2002@gmail.com</span>
                      </a>
                   </li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- footer section end -->
 <!-- copyright section start -->
 <div class="copyright_section">
    <div class="container">
       <p class="copyright_text">{{current}} All Rights Reserved. Design by <a href="#">madhu</a></p>
    </div>
 </div>
 <!-- copyright section end -->
 <!-- Javascript files-->
 <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
 integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
 crossorigin="anonymous"></script>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
 integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
 crossorigin="anonymous"></script>
 
 <script src="{% static 'js/s.js' %}"></script>
 <script src="{% static 'js/bootstrap.min.js' %}"></script>
 <script src="{% static 'js/jquery.min.js' %}"></script>
 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 <script>
   AOS.init();
 </script>

 <!-- sidebar -->
 <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

 <script src="https://kit.fontawesome.com/b52396679f.js" crossorigin="anonymous"></script>

</body>

</html>